{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/campus.css') }}">
{% endblock %}

{% block title %}Gestion des Lieux{% endblock %}

{% block body %}

    <h1>Gestion des lieux</h1>

    {% for lieu in listeLieux %}
        - {{ lieu.nom }} - {{ lieu.ville.nom}} <a class="petit" href="{{ path('lieu_modification', {'id': lieu.id }) }}" > Modifier </a> - <a class="petit" href="{{ path('lieu_suppression', {'id': lieu.id }) }}" > Supprimer </a> <br/>
    {% endfor %}

    <br/><br/>
    <a class="col-lg-1 col-md-1 col-sm-3" href="{{ path('admin_access') }}">Retour</a><br/>

    <a href="{{ path('lieu_creation') }}"><button>Ajouter un lieu</button></a>

{% endblock %}
