{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block title %}Modifier Lieu{% endblock %}

{% block body %}

    <h1>Modifier ce lieu</h1>

    {{ form_start(lieuForm) }}
    {{ form_label(lieuForm.nom) }}<sup>*</sup>
    {{ form_widget(lieuForm.nom) }}
    {{ form_label(lieuForm.rue) }}<sup>*</sup>
    {{ form_widget(lieuForm.rue) }}
    {{ form_label(lieuForm.latitude) }}<sup>*</sup>
    {{ form_widget(lieuForm.latitude) }}
    {{ form_label(lieuForm.longitude) }}<sup>*</sup>
    {{ form_widget(lieuForm.longitude) }}
    {{ form_label(lieuForm.ville) }}<sup>*</sup>
    {{ form_widget(lieuForm.ville) }}
    <button>Modifier</button>
    {{ form_end(lieuForm) }}


{% endblock %}
