{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block title %}Créer un utilisateur{% endblock %}



{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Créer un participant</h1>

    {{ form_start(registrationForm) }}

        <div class="cache">
            {{ form_row(registrationForm.image) }}
        </div>

    {{ form_label(registrationForm.email) }}<sup>*</sup>
    {{ form_widget(registrationForm.email) }}
    {{ form_label(registrationForm.pseudo) }}<sup>*</sup>
    {{ form_widget(registrationForm.pseudo) }}
    {{ form_label(registrationForm.nom) }}<sup>*</sup>
    {{ form_widget(registrationForm.nom) }}
    {{ form_label(registrationForm.prenom) }}<sup>*</sup>
    {{ form_widget(registrationForm.prenom) }}
    {{ form_label(registrationForm.telephone) }}<sup>*</sup>
    {{ form_widget(registrationForm.telephone) }}
    {{ form_label(registrationForm.campus) }}<sup>*</sup>
    {{ form_widget(registrationForm.campus) }}
    {{ form_label(registrationForm.plainPassword) }}<sup>*</sup>
    {{ form_widget(registrationForm.plainPassword) }}

        <button type="submit">Créer</button>
    {{ form_end(registrationForm) }}
{% endblock %}
