{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block title %}Création campus{% endblock %}

{% block body %}

    <h1>Créer un nouveau Campus</h1>

    {{ form_start(campusForm) }}
    {{ form_label(campusForm.nom) }}<sup>*</sup>
    {{ form_widget(campusForm.nom) }}
    <button>Créer campus</button>
    {{ form_end(campusForm) }}





{% endblock %}