{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block title %}Modification Campus{% endblock %}

{% block body %}
    <h1>Modifier ce campus ?</h1>

    {{ form_start(campusForm) }}

    {{ form_label(campusForm.nom) }}<sup>*</sup>
    {{ form_widget(campusForm.nom) }}
    <button>Modifier</button>
    {{ form_end(campusForm) }}

{% endblock %}