{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}
{% block stylesheets %}<link href="{{ asset('css/tableauSorties.css') }}" rel="stylesheet"> {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="filtres">
        <div class="filtre-form filtres">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit">Rechercher</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="afficheResultat"> {{ sorties|length }} résultat{% if sorties|length >1 %}s{% endif %} correspond{% if sorties|length >1 %}ent{% endif %} à votre recherche{% if sorties|length >= 1 %} :{% else %}.{% endif %}</div>
    <div class="table-sorties">
       <div id="grandEcran">
           <table class="table">
               <thead>
                   <tr class="titre">
                       <th scope="col">Nom de la sortie</th>
                       <th scope="col">Date de la sortie</th>
                       <th scope="col">Cloture</th>
                       <th scope="col">inscrits/places</th>
                       <th scope="col">Etat</th>
                       <th scope="col">Inscrit</th>
                       <th scope="col">Organisateur</th>
                       <th scope="col">Action</th>
                   </tr>
               </thead>
               {% for sortie in sorties %}
                   <tr>
                       <th scope="col">{{ sortie.nom }}</th>
                       <th scope="col">{{ sortie.dateHeureDebut.format('d/m/Y h:m') }}</th>
                       <th scope="col">{{ sortie.dateLimiteInscription.format('d/m/Y') }}</th>
                       <th scope="col"> {{ sortie.inscrits.count }}/{{ sortie.nbInscriptionMax }}</th>
                       <th scope="col">{{ sortie.etat.libelle }}</th>
                       <th scope="col">{% if app.user in sortie.inscrits %} X {% endif %}</th>
                       <th scope="col">{{ sortie.organisateur.nom }}</th><th scope="col"><a href="{{ path('participation_sortie', {'id' : sortie.id}) }}" title="">détails</a> </th>
                   </tr>
               {% endfor %}
           </table>
       </div>
       <div id="moyenEcran">
           <table class="table">
               <thead>
               <tr class="titre">
                   <th scope="col">Nom de la sortie</th>
                   <th scope="col">Date de la sortie</th>
                   <th scope="col">Cloture</th>
                   <th scope="col">Inscrit</th>
                   <th scope="col">Etat</th>
               </tr>
               </thead>
               {% for sortie in sorties %}
                   <tr>
                       <th scope="col">{{ sortie.nom }}</th>
                       <th scope="col">{{ sortie.dateHeureDebut.format('d/m/Y h:m') }}</th>
                       <th scope="col">{{ sortie.dateLimiteInscription.format('d/m/Y') }}</th>
                       <th scope="col">{% if app.user in sortie.inscrits %} X {% endif %}</th>
                       <th scope="col"><a href="{{ path('participation_sortie', {'id' : sortie.id}) }}" title="">{{ sortie.etat.libelle }}</a> </th>
                   </tr>
               {% endfor %}
           </table>
       </div>
       <div id="petitEcran">
           <table class="table">
               <thead>
                   <tr class="titre">
                       <th scope="col">Nom de la sortie</th>
                       <th scope="col">Date de la sortie</th>
                       <th scope="col">Etat</th>
                   </tr>
               </thead>
               {% for sortie in sorties %}
                   <tr>
                       <th scope="col">{{ sortie.nom }}</th>
                       <th scope="col">{{ sortie.dateHeureDebut.format('d/m/Y h:m') }}</th>
                       <th scope="col"><a href="{{ path('participation_sortie', {'id' : sortie.id}) }}" title="">{{ sortie.etat.libelle }}</a> </th>
                   </tr>
               {% endfor %}
           </table>
       </div>
   </div>
</div>
{% endblock %}

