{% extends 'base.html.twig' %}

{% block title %}Inscription à une sortie{% endblock %}

{% block body %}

        <div class="my-custom-class-for-errors">
            {{ form_errors(sortie) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(sortie.nom, {'disabled' : 'true'}) }}
            </div>
            <div class="col">
                {{ form_row(sortie.campus, {'disabled' : 'true'}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(sortie.dateHeureDebut, {'disabled' : 'true'}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(sortie.duree, {'disabled' : 'true'}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(sortie.organisateur.nom, {'disabled' : 'true'}) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(sortie.infoSortie, {'disabled' : 'true'}) }}
            </div>
        </div>


    <button type="submit">S'inscrire à cette sortie</button>

{% endblock %}
