{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block body %}

    <h1>Inscription</h1>
    <br/><br/>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }} message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

    {{ form_start(sortieForm) }}

        <div class="my-custom-class-for-errors">
            {{ form_errors(sortieForm) }}
        </div>

        <div class="container">
            <div class="row">
                <table class="affichage">
                    <tr>
                        <td class="champ">Nom de la sortie :</td>
                        <td class="champ">{{ sortie.nom }}</td>
                        <td class="champ">Campus :</td>
                        <td class="champ">{{ campus.nom }}</td>
                    </tr>
                    <tr>
                        <td class="champ">Organisateur :</td>
                        <td class="champ">{{ organisateur.nom }} {{ organisateur.prenom }}></td>
                        <td class="champ">Lieu :</td>
                        <td class="champ">{{ lieu.nom }}</td>
                    </tr>
                    <tr>
                        <td class="champ">Date et heure de la sortie :</td>
                        <td class="champ">{{ sortie.dateHeureDebut.format('d/m/Y h:m') }}</td>
                        <td class="champ">Rue :</td>
                        <td class="champ">{{ lieu.rue }}</td>
                    </tr>
                    <tr>
                        <td class="champ">Date limite d'inscription</td>
                        <td class="champ">{{ sortie.dateLimiteInscription.format('d/m/Y') }}</td>
                        <td class="champ">Code postal :</td>
                        <td class="champ">{{ ville.codePostal }}</td>
                    </tr>
                    <tr>
                        <td class="champ">Nombre de places :</td>
                        <td class="champ">{{ sortie.nbInscriptionMax}}</td>
                        <td class="champ">Latitude :</td>
                        <td class="champ">{{ lieu.latitude }}</td>
                    </tr>
                    <tr>
                        <td class="champ">Durée :</td>
                        <td class="champ">{{ sortie.duree }} minutes</td>
                        <td class="champ">Longitude :</td>
                        <td class="champ">{{ lieu.longitude }}</td>
                    </tr>
                    <tr>
                        <td class="champ">Description et infos :</td>
                        <td class="champ">{{ sortie.infoSortie }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <br/><br/><br/><br/>

        <div class="form">
            {{ form_widget(sortieForm) }}
        </div>
        {% set inscrit=0 %}
        <div class="container">
            <h3>Liste des participants inscrits :</h3>
            <div class="container-fluid">
                <table class="liste_participants">
                    <tr>
                        <td class="pseudo">Pseudo</td>
                        <td class="nom">Nom</td>
                    </tr>
                    {% for participant in inscrits %}
                        <tr>
                            <td class="pseudo">{{ participant.pseudo }}</td>
                            <td class="nom">{{ participant.prenom }} {{ participant.nom }}</td>
                            {% if participant == app.user %}
                                {% set inscrit=1 %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br/><br/>
        {% if sortie.nbInscriptionMax > inscrits|length and app.user not in inscrits %}
            <div class="row">
                <button type="submit">S'inscrire à cette sortie</button>
            </div>
        {% endif %}
    {{ form_end(sortieForm) }}

    {% if inscrit==1 %}
        <div class="row">
            <a href="{{ path('participation_desistement', {'id' : sortie.id}) }}"><button type="submit" >Se désister de cette sortie</button></a>
        </div>
        {% set inscrit=0 %}
    {% endif %}

{% endblock %}
