{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block body %}
    <h1>{{ participant.pseudo }}</h1>
    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <td class="champ">Prénom :</td>
                    <td class="champ">{{ participant.prenom }}</td>
                </tr>
                <tr>
                    <td class="champ">Nom :</td>
                    <td class="champ">{{ participant.nom }}</td>
                </tr>
                <tr>
                    <td class="champ">Téléphone :</td>
                    <td class="champ">{{ participant.telephone }}</td>
                </tr>
                <tr>
                    <td class="champ">Email :</td>
                    <td class="champ">{{ participant.email }}</td>
                </tr>
                <tr>
                    <td class="champ">Campus :</td>
                    <td class="champ">{{ participant.campus.nom }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}