{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block body %}
    <h1>{{ participant.pseudo }}</h1>
    <div class="container">
        <div class="col">


        </div>
        <div class="col">
            <table>
                <tr>
                    <td>Prénom :</td>
                    <td>{{ participant.prenom }}</td>
                </tr>
                <tr>
                    <td>Nom :</td>
                    <td>{{ participant.nom }}</td>
                </tr>
                <tr>
                    <td>Téléphone :</td>
                    <td>{{ participant.telephone }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ participant.email }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>

            </table>

        </div>



    </div>

{% endblock %}