{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

        <div class="profil-informations">
            <h1 class="form-title">Mettre à jour son profil</h1>
       </div>
        <div class="row">
            <div class="col-md-4 grandEcran">
                {% if app.user.getImage() is not null %}<img class="imageProfil" src="{{ asset('img/uploads/imageProfil/'~ user.getImage().getName()) }}">{% endif %}
            </div>
            <div class="col-md-8  col-sm-12">
                <div class="profil-formulaire">
                    {{ form_start(profilForm) }}

                    {{ form_label(profilForm.email) }}<sup>*</sup>
                    {{ form_widget(profilForm.email) }}
                    {{ form_label(profilForm.pseudo) }}<sup>*</sup>
                    {{ form_widget(profilForm.pseudo) }}
                    {{ form_label(profilForm.nom) }}<sup>*</sup>
                    {{ form_widget(profilForm.nom) }}
                    {{ form_label(profilForm.prenom) }}<sup>*</sup>
                    {{ form_widget(profilForm.prenom) }}
                    {{ form_label(profilForm.telephone) }}<sup>*</sup>
                    {{ form_widget(profilForm.telephone) }}
                    {{ form_label(profilForm.campus) }}<sup>*</sup>
                    {{ form_widget(profilForm.campus) }}
                    <br/>
                    {{ form_label(profilForm.image) }}
                    {{ form_widget(profilForm.image) }}


                    <button type="submit">Enregistrer les modifications</button>
                    {{ form_end(profilForm) }}
                </div>
            </div>
        </div>



{% endblock %}