{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block title %}Administrateur{% endblock %}

{% block body %}


    <h1>Compte admninistrateur</h1>

    <ul>
        <li><a class="col-lg-1 col-md-1 col-sm-3" href="{{ path('campus_affichage') }}">Gestion des Campus</a></li>
        <li><a class="col-lg-1 col-md-1 col-sm-3" href="{{ path('ville_affichage') }}">Gestion des Villes</a></li>
        <li><a class="col-lg-1 col-md-1 col-sm-3" href="{{ path('lieu_affichage') }}">Gestion des Lieux</a></li>
        <li><a class="col-lg-1 col-md-1 col-sm-3" href="{{ path('participants_gestion') }}">Gestion des participants</a></li>
    </ul>



{% endblock %}