{% extends 'base.html.twig' %}

{% block title %}
    Gestion sortie
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}



{% block body %}
        <div>

            {% if (creer) %}
                    <h1>Créer une sortie</h1>
                {# TODO : enlever la possibilité de modifier l'état ! #}
            {% endif %}
            {% if (modifier) %}
                <h1>Modifier une sortie</h1>
            {% endif %}
            <br/><br/><br/>


            {{ form_start(sortieForm) }}

            {{ form_widget(sortieForm) }}
                {% if (creer) %}
                    <button>Creer la sortie</button>
                {% endif %}


                {% if (modifier) %}
                    <h5>Liste des participants</h5>
                    <table class="liste_participants">
                        <tr>
                            <td class="pseudo">Pseudo</td>
                            <td class="nom">Nom</td>
                        </tr>
                        {% for participant in inscrits %}
                            <tr>
                                <td class="pseudo"><a href="{{ path('profil_participant', {'id': participant.id}) }}">{{ participant.pseudo }}</a></td>
                                <td class="nom">{{ participant.prenom }} {{ participant.nom }}</td>
                                {% if participant == app.user %}
                                    {% set inscrit=1 %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                        <a href="{{ path('sortie_modifier', {'id' : sortie.id}) }}"><button>Modifier la sortie</button></a>
                    {% if sortie.etat.libelle != 'Ouverte' %}
                        <a href="{{ path('sortie_publier', {'id' : sortie.id}) }}"><button>Publier la sortie</button></a>
                    {% endif %}
                        <a href="{{ path('sortie_annuler', {'id' : sortie.id}) }}"><button>Annuler la sortie</button></a>
                {% endif %}

            {{ form_end(sortieForm) }}</div>
{% endblock %}

