{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block body %}
    <section>
        {% for sortie in sorties %}
        <p>
            {{ sortie.nom }} - <a class="petit" href="{{ path('sortie_details', {'id': sortie.id} ) }}" title="voir la sortie">détails</a> -

            <a class="petit" href="{{ path('sortie_supprimer_sortie', {'id':sortie.id}) }}">Supprimer</a>
        </p>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} | liste des Sorties
{% endblock %}

