{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block title %}Modification Ville{% endblock %}

{% block body %}

    <h1>Modifier cette ville</h1>

    {{ form_start(villeForm) }}

    {{ form_label(villeForm.nom) }}<sup>*</sup>
    {{ form_widget(villeForm.nom) }}
    {{ form_label(villeForm.codePostal) }}<sup>*</sup>
    {{ form_widget(villeForm.codePostal) }}

    <button>Modifier</button>
    {{ form_end(villeForm) }}

{% endblock %}