<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortie.com{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{  asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{  asset('css/app.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <header class="main-header">
            <nav class="navbar">
                <div class="boxLiens">
                    <ul>
                        <li><a href="{{ path('main_accueil') }}">Accueil</a></li>
                        <li><a href="{{ path('sortie_liste') }}">Afficher les sorties</a></li>
                        <li><a href="{{ path('sortie_creerSortie') }}">Creer une nouvelle sortie</a></li>
                        <li><a href="{{ path('campus_campus') }}">Gestion des Campus</a></li>
                        {% if(not app.user) %}
                            <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                            <li><a href="{{ path('app_login') }}">Se Connecter</a></li>
                        {% endif %}
                        {% if(app.user) %}
                            <li><a href="{{ path('profil_user') }}">Mon profil</a></li>
                            <li><a href="{{ path('app_logout') }}">Se Deconnecter</a></li>
                        {% endif %}

                    </ul>
                </div>

            </nav>
        </header>

        {% block body %}{% endblock %}

    </body>
</html>
