<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortie.com{% endblock %}</title>
        <link rel="stylesheet" href="{{  asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{  asset('css/app.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <header class="main-header">
            <nav class="navbar">
                <ul>
                    <li><a href="{{ path('main_accueil') }}">Accueil</a></li>
                    <li><a href="{{ path('sortie_liste') }}">Afficher sorties</a></li>
                    <li><a href="{{ path('sortie_creerSortie') }}">creer sortie</a></li>
                    <li><a href="{{ path('campus_campus') }}">Campus</a></li>
                    <li><a href="{{ path('app_login') }}">Se Connecter</a></li>
                </ul>
            </nav>
        </header>

        {% block body %}{% endblock %}

    </body>
</html>
