{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/app.css') }}">
{% endblock %}

{% block title %}Gestion des Participants{% endblock %}

{% block body %}

    <h1>Gestion des Participants</h1>

    {% for participant in participants %}
        - {{ participant.nom }} {{ participant.prenom }} du campus de {{ participant.campus.nom }} <a class="petit" href="" > Supprimer </a> <br/>
    {% endfor %}

    <a href="{{ path('app_register') }}"><button>Ajouter un participant</button></a>

{% endblock %}
