{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block title %}Gestion des Participants{% endblock %}

{% block body %}

    <h1>Gestion des Participants</h1>

    {% for participant in participants %}
        {{ participant.pseudo }} - {{ participant.nom }} {{ participant.prenom }} du campus de {{ participant.campus.nom }} -
        Actif ? {% if participant.actif %}Oui - <a class="petit" href="{{ path('participants_sommeil', {'id': participant.id}) }}" > Mettre en sommeil </a>
                {% else %}Non - <a class="petit" href="{{ path('participants_reactivation', {'id': participant.id}) }}" > Réactiver </a>
                {% endif %} -
        <a class="petit" href="{{ path('participants_modification', {'id': participant.id}) }}" > Modifier </a><br/>
{#        <a class="petit" href="{{ path('participants_suppression', {'id': participant.id}) }}" > Supprimer </a> #}
    {% endfor %}

    <br/><br/>
    <a class="col-lg-1 col-md-1 col-sm-3" href="{{ path('admin_access') }}">Retour</a><br/>

    <a href="{{ path('app_register') }}"><button>Ajouter un participant</button></a>

{% endblock %}
