{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{  asset('css/participation.css') }}">
{% endblock %}

{% block title %}Modification participants{% endblock %}

{% block body %}

    <h1>Etes-vous sûr de vouloir modifier ce participant?</h1>

    {{ form_start(participant) }}
    <div class="cache">
        {{ form_row(participant.image) }}
    </div>

    {{ form_label(participant.email) }}<sup>*</sup>
    {{ form_widget(participant.email) }}
    {{ form_label(participant.pseudo) }}<sup>*</sup>
    {{ form_widget(participant.pseudo) }}
    {{ form_label(participant.nom) }}<sup>*</sup>
    {{ form_widget(participant.nom) }}
    {{ form_label(participant.prenom) }}<sup>*</sup>
    {{ form_widget(participant.prenom) }}
    {{ form_label(participant.telephone) }}<sup>*</sup>
    {{ form_widget(participant.telephone) }}
    {{ form_label(participant.campus) }}<sup>*</sup>
    {{ form_widget(participant.campus) }}
    <button>Modifier</button>
    {{ form_end(participant) }}

{% endblock %}